@import "bootstrap";
$font-family:'Helvetica Neue', Arial, Helvetica, sans-serif !default;
@import "semantic-ui";

.p1
{
  font-weight: bold;
}
.p2
{
  margin-left: 20%;
  margin-top: 10%;
  
}

.p3
{
  margin-left: 10px;
  
}

